.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#section{
   display: flex;
   align-self: center;
   justify-content:center;
}

div[role=menu]{
  padding-top: 0 !important; 
}
.avg-data {
  text-align: center;
  font-size: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
